n8n/N8N_MCP_OLLAMA.json
{
  "name": "LLM with MCP Client",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -500,
        -200
      ],
      "id": "91ab372b-7fef-4157-8a21-d6fd2e5cfdae",
      "name": "When chat message received",
      "webhookId": "da6edf05-a297-43d4-909d-f992ed9c775c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -20,
        -200
      ],
      "id": "86b90f7e-1c11-4d1a-b321-609107c7bcd0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -40,
        0
      ],
      "id": "640ae9e8-d606-4cad-b1a5-c305b19d60f1",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "xmtMaUMFJchCOk4i",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "http://host.docker.internal:8080/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        160,
        20
      ],
      "id": "9da8ddb7-36f1-4f9f-aa6b-738c9964e1f0",
      "name": "MCP Client"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        60,
        0
      ],
      "id": "cde02bda-c561-4359-9461-d4607a02a4f5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "llm_agent",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -500,
        -40
      ],
      "id": "3fe17db6-ca2a-4147-aae5-d499ad0d6230",
      "name": "Webhook",
      "webhookId": "7fbb5458-6d24-4355-9e6c-b3448cfd952f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1ZjAv4zQlXLo0F4K",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa342d86-322d-4a5a-bf02-7be0e95b1e1e",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "ab8bb52d-5600-4822-856b-6f0e87353a5a",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -200
      ],
      "id": "5411167e-0bee-4101-be2b-bd58a629ab92",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        340,
        -200
      ],
      "id": "a4b921b8-5fc8-4fe1-8d43-a5dd81a7b8c3",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cedd9e05-8be0-4f15-a697-e71703de30c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce3ef837886c7a7392916264b98a38398cd21db5c769d92d7f7bfb41f7bf1fc3"
  },
  "id": "6NDapKIG3aJnmN6B",
  "tags": []
}