n8n/N8N_MCP_OPENAI.json
{
  "name": "N8N MCP",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "3b69e4bc-7f21-4068-880f-6cb22b8618af",
      "name": "When chat message received",
      "webhookId": "da6edf05-a297-43d4-909d-f992ed9c775c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        480,
        0
      ],
      "id": "53a6d6e6-bc63-4141-aeee-17c1bffe4651",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sseEndpoint": "http://host.docker.internal:8080/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        660,
        220
      ],
      "id": "78d59471-a438-40ce-8e81-fb23139a9961",
      "name": "MCP Client"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        200
      ],
      "id": "ab3aeec4-1c8b-416c-8bf9-402009e52ec0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "llm_agent",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        160
      ],
      "id": "9900b6a9-49de-4fb3-8653-6a16eec472f5",
      "name": "Webhook",
      "webhookId": "7fbb5458-6d24-4355-9e6c-b3448cfd952f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "A7XdcWSsDajCgfMR",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa342d86-322d-4a5a-bf02-7be0e95b1e1e",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "ab8bb52d-5600-4822-856b-6f0e87353a5a",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        0
      ],
      "id": "3e20225e-8dac-424c-a38f-1df1362a9532",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        840,
        0
      ],
      "id": "2a324f4f-eef3-4d0b-b855-f5f498260be6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        200
      ],
      "id": "a917dde5-a474-4479-8638-0c972661306c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YPB0YZXf1augrhzd",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9c34e05a-04d5-47d8-b73c-071f6c2a4205",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e661ab17bc54047b9a05b56db2e609e05c80f32f7d1e01d8ea217383402d887"
  },
  "id": "gPwxLF8deq8mwFA7",
  "tags": []
}